In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split
from math import ceil

from sklearn.svm import SVC
from sklearn.metrics import accuracy_score
from sklearn.preprocessing import StandardScaler

In [2]:
data = pd.read_csv('kelp_class.csv')
data.head()

,latitude,longitude,Depth,Temperature,pH,Depth_Class,Temperature_Class,pH_Class,percentile_rank,Final_Class
0,56.509,-170.8147,122.0,2.199,7.9743,5,3,3,0.39,3
1,56.509,-170.8147,122.0,2.098,7.9977,5,3,4,0.50,4
2,56.509,-170.8147,122.0,1.637,8.0398,5,3,5,0.61,5
3,56.509,-170.8147,122.0,0.763,8.0659,5,2,6,0.61,5
4,56.509,-170.8147,122.0,-0.318,8.0661,5,2,6,0.61,5

In [3]:
avg_scores = data[['Depth_Class','Temperature_Class','pH_Class']].mean(axis=1)

#calculates avg and ranks averages as percentile 
data['percentile_rank'] = avg_scores.rank(pct=True).round(2)

#scaled to 1-7 for classes. 
data['Final_Class'] = data['percentile_rank'].apply(lambda x: ceil(x * 7))

data.head()

,latitude,longitude,Depth,Temperature,pH,Depth_Class,Temperature_Class,pH_Class,percentile_rank,Final_Class
0,56.509,-170.8147,122.0,2.199,7.9743,5,3,3,0.39,3
1,56.509,-170.8147,122.0,2.098,7.9977,5,3,4,0.50,4
2,56.509,-170.8147,122.0,1.637,8.0398,5,3,5,0.61,5
3,56.509,-170.8147,122.0,0.763,8.0659,5,2,6,0.61,5
4,56.509,-170.8147,122.0,-0.318,8.0661,5,2,6,0.61,5

In [6]:
data.to_csv('kelp_class.csv',index=False)

In [4]:
features = ['Depth_Class','Temperature_Class','pH_Class']
X = data[features]
y = data['Final_Class']

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

scaler = StandardScaler()
X_train_scaled = scaler.fit_transform(X_train)
X_test_scaled = scaler.transform(X_test)

clf_svm = SVC(kernel='linear', C=0.1)  

clf_svm.fit(X_train_scaled, y_train)

y_pred = clf_svm.predict(X_test_scaled)

print("Accuracy:", accuracy_score(y_test, y_pred))

Accuracy: 1.0